<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expenditures Report</title>
    <style>
   table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    color: #141f33; /* Dark blue color for heading */
}

    </style>
</head>
<body>
    <h1>Expenditures Report</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Issued To</th>
            </tr>
        </thead>
        <tbody>
            {% for expenditure in expenditures %}
            <tr>
                <td>{{ expenditure.ename }}</td>
                <td>{{ expenditure.eamount }}</td>
                <td>{{ expenditure.edate }}</td>
                <td>{{ expenditure.issued_to }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
